<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbhy.workorder.mapper.FileInfoMapper">

    <resultMap id="BaseResultMap" type="com.xbhy.workorder.entity.FileInfo">
        <!--@Table file_info-->
        <result property="suffix" column="suffix" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="rawName" column="raw_name" jdbcType="VARCHAR"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="fileType" column="file_type" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
        <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
        <result property="fileSize" column="file_size" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          suffix, create_by, update_by, create_time, update_time, id, raw_name, file_name, file_type, deleted, file_path, file_size
        from file_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          suffix, create_by, update_by, create_time, update_time, id, raw_name, file_name, file_type, deleted, file_path, file_size
        from file_info
        <where>
            <if test="suffix != null and suffix != ''">
                and suffix = #{suffix}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="rawName != null and rawName != ''">
                and raw_name = #{rawName}
            </if>
            <if test="fileName != null and fileName != ''">
                and file_name = #{fileName}
            </if>
            <if test="fileType != null and fileType != ''">
                and file_type = #{fileType}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
            <if test="filePath != null and filePath != ''">
                and file_path = #{filePath}
            </if>
            <if test="fileSize != null and fileSize != ''">
                and file_size = #{fileSize}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          suffix, create_by, update_by, create_time, update_time, id, raw_name, file_name, file_type, deleted, file_path, file_size
        from work_order.file_info
    </select>
    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from file_info
        <where>
            <if test="suffix != null and suffix != ''">
                and suffix = #{suffix}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="rawName != null and rawName != ''">
                and raw_name = #{rawName}
            </if>
            <if test="fileName != null and fileName != ''">
                and file_name = #{fileName}
            </if>
            <if test="fileType != null and fileType != ''">
                and file_type = #{fileType}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
            <if test="filePath != null and filePath != ''">
                and file_path = #{filePath}
            </if>
            <if test="fileSize != null and fileSize != ''">
                and file_size = #{fileSize}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into file_info(suffix, create_by, update_by, create_time, update_time, raw_name, file_name, file_type, deleted, file_path, file_size)
        values (#{suffix}, #{createBy}, #{updateBy}, #{createTime}, #{updateTime}, #{rawName}, #{fileName}, #{fileType}, #{deleted}, #{filePath}, #{fileSize})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into file_info(suffix, create_by, update_by, create_time, update_time, raw_name, file_name, file_type, deleted, file_path, file_size)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.suffix}, #{entity.createBy}, #{entity.updateBy}, #{entity.createTime}, #{entity.updateTime}, #{entity.rawName}, #{entity.fileName}, #{entity.fileType}, #{entity.deleted}, #{entity.filePath}, #{entity.fileSize})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into file_info(suffix, create_by, update_by, create_time, update_time, raw_name, file_name, file_type, deleted, file_path, file_size)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.suffix}, #{entity.createBy}, #{entity.updateBy}, #{entity.createTime}, #{entity.updateTime}, #{entity.rawName}, #{entity.fileName}, #{entity.fileType}, #{entity.deleted}, #{entity.filePath}, #{entity.fileSize})
        </foreach>
        on duplicate key update
        suffix = values(suffix),
        create_by = values(create_by),
        update_by = values(update_by),
        create_time = values(create_time),
        update_time = values(update_time),
        raw_name = values(raw_name),
        file_name = values(file_name),
        file_type = values(file_type),
        deleted = values(deleted),
        file_path = values(file_path),
        file_size = values(file_size)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update file_info
        <set>
            <if test="suffix != null and suffix != ''">
                suffix = #{suffix},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="rawName != null and rawName != ''">
                raw_name = #{rawName},
            </if>
            <if test="fileName != null and fileName != ''">
                file_name = #{fileName},
            </if>
            <if test="fileType != null and fileType != ''">
                file_type = #{fileType},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="filePath != null and filePath != ''">
                file_path = #{filePath},
            </if>
            <if test="fileSize != null and fileSize != ''">
                file_size = #{fileSize},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <update id="deleteById">
        update file_info set deleted = 1 where id = #{id}
    </update>

</mapper>

